<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Success</h1>
        <!-- jinja2 template -->
        {% if score >= 50 %}
        <p>Congratulations! You passed with a score of {{ score }}.</p>
        {% else %}
        <p>Sorry, you failed with a score of {{ score }}. Better luck next
            time!</p>
        {% endif %}
    </body>
</html>